.header {
    padding: 2rem 0;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.header-logo__image {
    width: 50px;
    height: 100%;
}

.header-logo span {
    margin-left: 6px;
    font-size: 20px;
    color: black;
}

.sign-in {
    padding: 10px;
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
}