.table {
    padding: 1rem;
    width: 100%;
    text-align: center;
}

table,
th,
td {
    border: 1px dotted black;
    border-collapse: collapse;
}

.table__header th {
    padding: 1rem;
}

.word-number {
    width: 2rem;
}

.table__input {
    width: 90%;
    font-family: "Wix Madefor Display", sans-serif;
    border-style: none none solid;
    border-width: 1px;
    border-color: black;
    outline: none;
    background-color: transparent;
}