h2 {
    text-align: center;
}

.table {
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.7);
}

table,
th,
td {
    border: 1px dotted black;
    border-collapse: collapse;
}

tr {
    opacity: 0;
    animation: fadeIn 0.5s;
    animation-delay: calc(0.1s * var(--idx));
    animation-fill-mode: forwards;
}

tr:nth-child(even) {
    background: rgba(137, 0, 168, 0.05);
    background-blend-mode: darken;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.table__header th {
    padding: 10px;
    background: rgba(137, 0, 168, 0.1);
    background-blend-mode: darken;
}

.word-number {
    width: 30px;
}

.actions {
    width: 100px;
}

.table__content {
    width: 300px;
}

.table__input {
    margin: 0;
    padding: 0;
    width: min(100%, 180px);
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 16px;
    text-align: center;
    border-style: none none solid;
    border-width: 1px;
    border-color: black;
    outline: none;
    background-color: transparent;
}

.load-more-button {
    margin: 30px auto;
    padding: 10px 15px;
    text-align: center;
    font-family: "Wix Madefor Display", sans-serif;
    color: white;
    transition: 0.5s;
    background-image: linear-gradient(90deg, #e075af 0%, #bb80b9 21%, #9e88c1 48%, #7494cc 81%, #3fa3da 100%);
    background-size: 200% auto;
    border-radius: 50px;
    border: none;
    display: block;
    cursor: pointer;
}

.load-more-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.load-more-button:active {
    transform: scale(0.9);
}

@media (max-width: 768px) {
    .actions {
        width: 50px;
    }
}