.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  width: min(100%, 1170px);
}

.button {
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.2);
}

.button:active {
  transform: scale(0.9);
}