* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Wix Madefor Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(90deg, rgba(224, 117, 175, 1) 0%, rgba(187, 128, 185, 1) 21%, rgba(158, 136, 193, 1) 48%, rgba(116, 148, 204, 1) 81%, rgba(63, 163, 218, 1) 100%);
  background-blend-mode: screen;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 1170px;
}

.button {
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.2);
}

.button:active {
  transform: scale(0.9);
}