.slider-container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
}

.slider__button {
    margin: auto;
    text-align: center;
    font-size: 40px;
    color: grey;
    background: transparent;
    border: none;
    display: block;
    cursor: pointer;
    filter: drop-shadow(3px 3px 5px #707070);
}

.slider__button:hover {
    color: #171717;
}

.slider__button:active {
    transform: scale(0.9);
}

.slider__content {
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.next {
    animation: moveRight 1s forwards;
}

.previous {
    animation: moveLeft 1s forwards;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}