.slider-container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
}

.slider__button {
    margin: auto;
    padding: 10px 12px;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, #e075af 0%, #bb80b9 21%, #9e88c1 48%, #7494cc 81%, #3fa3da 100%);
    border-radius: 50%;
    border: none;
    display: block;
    cursor: pointer;
}

.slider__button:hover {
    box-shadow: 0 0 20px #eee;
}

.slider__button:active {
    transform: scale(0.9);
}

.slider__content {
    transition: transform 0.5s ease-in-out;
}

.next {
    transform: translateX(-10px);
}

.previous {
    transform: translateX(10px);
}